<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk_music_cop.demo.member.repository.MemberRepository">

    <select id="findAll" resultType="MemberResponse">
        SELECT "member_id", "user_id", "password", "name", "created_date" FROM members
    </select>

    <select id="findByMemberId" parameterType="Long" resultType="MemberResponse">
        SELECT "member_id", "user_id", "password", "name", "created_date" FROM members WHERE member_id = #{userId}
    </select>

    <select id="findByUserId" parameterType="String" resultType="MemberResponse">
        SELECT "member_id", "user_id", "password", "name", "created_date", "enabled"
        FROM members
        WHERE user_id = #{userId}
    </select>

    <select id="findRolesByMemberId" parameterType="Long" resultType="String">
        select role_name
        from member_roles mr
        JOIN roles r ON mr."role_id" = r."role_id"
        WHERE member_id = #{memberId}
    </select>


    <select id="join" parameterType="MemberRequest" resultType="Long">
        INSERT INTO members (user_id, password, name)
        VALUES (#{userId}, #{password}, #{name})
        RETURNING member_id
    </select>

    <select id="userIdExistValidation" parameterType="String" resultType="boolean">
        select count(*) > 0 as isExist
        from members
        WHERE user_id = #{userId};
    </select>

</mapper>